# Dependencies
node_modules/

# Environment Variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Build output
/frontend/build/
/backend/dist/

# Docker
*.log
docker-compose.override.yml

# macOS
.DS_Store

# Windows
Thumbs.db

# JetBrains IDEs
.idea/

# Visual Studio Code
.vscode/

