# Node modules
node_modules

# Environment files
.env*

# Logs
*.log

# Source control
.git

# Development specific files
README.md
.gitignore
Dockerfile
.dockerignore
*.md
*.DS_Store
.npmrc
.yarnrc
.vscode
.idea
