.register-form {
    max-width: 400px;
    margin: 2rem auto;
    padding: 2rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    background: white;
}

.register-title {
    text-align: center;
    margin-bottom: 2rem;
}

.register-input-container {
    margin-bottom: 1rem;
}

.register-input {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.register-submit {
    width: 100%;
}
/* Additional styles for 'Driver' section */
label {
    display: block;
    margin-bottom: .5rem;
}

.register-checkbox {
    margin-left: .5rem;
}

/* Responsive design */
@media (max-width: 768px) {
    .register-form {
        padding: 1rem;
        margin: 10 auto; /* Center the form in the viewport */
    }

    .register-title {
        font-size: 1.5rem; /* Reduce font size for smaller screens */
    }

    .register-input, .register-submit {
        font-size: 1rem; /* Adjust font size for readability on smaller devices */
        padding: 12px; /* Adjust padding for better touch target size */
    }

    /* Adjust button styling for mobile */
    .register-submit {
        padding: 12px;
        font-size: 1.1rem; /* Make the button text slightly larger */
    }
}
